.navigation-bar {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
}

.navigation-bar-button {
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 24px;
}

.navigation-bar-button::after {
  transition: width 0.5s ease;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transform: translateX(-50%);
}

.navigation-bar-button:hover::after {
  width: 100%;
}
