@import "tailwindcss";

@font-face {
  font-family: "Poiret One";
  src: url("/assets/fonts/PoiretOne.woff2") format("woff2");
}

body {
  background-color: #0d0d0d;
  font-family: "Poiret One";
  color: #fff;
}
